/* TODO: Properly reorganize this */

body {
    font-family: "Gill Sans Extrabold", sans-serif;
}

html, body, #app {
    height: 100%;
}

#app {
    display: flex;
}

.side-menu, .app-body {
    flex: 1;
}

.side-menu {
    max-width: 20%;
    background-color: #F4F4F4;
    padding: 5px;
}

.app-body {
    background-color: #FFF;
    padding: 5px;
}